@{
    ViewData["Title"] = "Home Page";
    Layout = ViewBag.Layout ?? "_Layout"; // Utilisez le layout par défaut sauf si ViewBag.Layout est défini

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
